@model WebApplication1.PerfilUsuario
@{
    ViewBag.Title = "Login";
}
@using (Html.BeginForm("Login", "Home", FormMethod.Post))
{
<fieldset>
    <legend>Login Restaurante</legend>
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    <table class="table table-hover">
        <tr>
            <td>@Html.LabelFor(a => a.Usuario)</td>
            <td>@Html.TextBoxFor(a => a.Usuario)</td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(a => a.Password)
            </td>
            <td>
                @Html.PasswordFor(a => a.Password)
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" class="btn btn-primary" value="Iniciar sesion" />
            </td>
            <td></td>
        </tr>
    </table>
</fieldset>
}  